{% extends 'master_template.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lọc sản phẩm</title>
</head>
<body>
   {% block category %}
   <div class="row" style='width:100%'>
    {%for product in products %}
    <div class="col-lg-3">
      <img class="thumbnail" src="{{product.Imgurl}}">
      <div class="box-element product">
          <h6><strong>{{product.name}}</strong></h6>
          <hr>
  
          <a class="btn btn-outline-success" href="{% url 'add_to_cart' product.id %}">
           Thêm vào giỏ hàng
          </a>
          <a class="btn btn-outline-success" href="{% url 'product_detail' product_id=product.id %}">Chi tiết</a>
          <h6 style="display: inline-block; float:right"><strong>${{product.price | floatformat:2}}</strong></h6>
      </div>
    </div>
    {% endfor %}
  </div>
   {% endblock category %}
</body>
</html>